@font-face{
    font-family: 'Asap Condensed';
    src: url(../fonts/AsapCondensed-Regular.ttf); 
    font-style: normal;
}

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Asap Condensed', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #FFFFFF; /*212121*/
}

button.navbar-toggler {
    padding: 0px 0;
}

/*.conteyn{
    background-color: #303134;
}*/

/*SCROLL BAR*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 199, 79); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffb05c; 
  }


/*Button*/
.btn.rounded-0{
    border: 2px solid #000;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 13px;
}
.btn.rounded-0:hover{
    background-color: #000;
    color: #fff;
}

/*SCROLL BAR*/

.navbar.navbar-expand-lg{
    background-color: #252525;
    padding-left: 120px;
    padding-right: 120px;
}

.navbar-dark .navbar-nav .nav-link{
    color: #929399;
    font-size: 12px;
    
}
.nav-item{
    padding-left: 5px;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
    transition: .45s;
}   

.banner-text{
    text-align: center;
    color: #868686;
    bottom: 60px;
    opacity: 49%;
}

.disweek-detail{
    border-radius: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ahaha{
    font-family: 'Raleway', sans-serif;
}

/*Image zoooooooooooooooooooom*/

.Image #zoom-in{
        cursor: pointer;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Image #zoom-in img{
    transition: .4s ease-in-out;
    transform: scale(1.01);
    opacity: 1;
}

.Image #zoom-in:hover img{
    transform: scale(1.08);
    opacity: 1;
}

img.profiles {
    margin-left: -3px;
}

#Profayls img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
    opacity: .8;
}

#Profayls:hover img{
    transform: scale(1.03);
    opacity: 1;
    border: 3px solid rgb(151, 255, 137);
    cursor: pointer;
}

.card-img-top {
    object-fit: cover;
} 

.card.about-me{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-body p{
    font-size: 13px;
}

.detalye{
    color: #414549;
    
}

.card{ /* recent work card*/
    border-radius: 0px ;
    outline: none;
    border: none;
}

#zoom-in{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.boody{
    border-radius: 0px;
}

.head{
    background-color: rgb(255, 101, 91);
    border-radius: 0px;
    margin-top: -40px;
}

.card-text.detail-amv {
    font-size: 13px;
     color: #000;
}

.disweek{
    font-weight: 800;
    letter-spacing: 2px;
}

.profiles{
    border-radius: 50%;
    border: 3px solid #fff;
}

.abawt{
    /*color: rgb(255, 90, 78);*/
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.0rem;
    color: #000;
}

.profayl-name{
    font-size: 35px;
    color: #000;
}

/*AMV THIS WEEK CARD*/

.softaec4d-amv{ 
   border-radius: 14px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h1.text-center.pt-4.abawt {
    font-size: 4.375rem;
}

#AMVThisweek{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.amvweek-title{
    font-size: 30px;
    color: #000;
    letter-spacing: 0.08rem;
}

/*RECEEENTTTT*/
.recent-font{
    letter-spacing: 0.08rem;
    font-size: 30px;
    color: #000;
}
.card-text.recent-fontp{
    font-size: 14px;
}

/*.btn-view-grad{
    background-image: linear-gradient(rgb(255, 210, 127), rgb(255, 218, 71));
}*/

.btn.btn-sm{
    font-size: 10px;
    border-radius: 0px;
    padding-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.btn.btn-sm:hover{
    transition: .3s;
    color: #fff;
    background-color: #000;
}

/*LEARN MOREEEEEEEEEEEEE*/
.learn-btn{
    font-size: 17px;
    color: #000;

}

.vl{
    border-left: 6px solid #000;
    height: 100px;
    padding-bottom: 130px;
    padding-left: 12px;
}

.youtube-img{
    box-shadow: 0px 25px 42px rgba(0,0,0, 0.2);
}

.learn-h1{
    font-size: 47.5px; 
    color: #000;
    font-weight: bold;
}

.btn.btn-grad.rounded-0{
    opacity: 90%;
    border-radius: 0px solid #000;
}

/*GROUPSSSSSSSSSSSSSSSS*/
.font-gc{
    font-family: 'Lemon Milk', sans-serif;
}

.font-gc h2{
    font-size: 2.5vmin;
    
   color: #000;
}

.grp-bg{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1368px 768px;
}

/*aboutme*/
h4.about-mee{
    font-weight: 800;
    color: #000;
    font-size: 35px;
    line-height: normal;
    letter-spacing: 0.08rem;
}

.aec4d{
    text-align: justify;
    font-size: 17px;
    color: #000;
}

.softaec4d{
    background-color: rgba(46, 46, 48, 0);
    border-radius: 0px;
}

.about-p{
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.hr-about{
    margin-left: 46%;
    margin-right: 46%;
    border: 0.3px solid #8fc9ff;
}

/*prev next*/
.fas.fa-arrow-circle-left, .fas.fa-arrow-circle-right{
    color: #000;
    opacity: 90%;
}

.fas.fa-arrow-circle-right:hover{
    color: #000;
    opacity: 100%;
    transition: 0.4s;
    transform: scale(1.2);
}
.fas.fa-arrow-circle-left:hover{
    color: #000;
    opacity: 100%;
    transition: 0.4s;
    transform: scale(1.2);
}

.carousel-control-prev.eoin{
    left: -125px;
    padding-left: 142px;
}

.carousel-control-next.eoin{
    right: -125px;
    padding-right: 142px;
}

.fas.fa-arrow-circle-right, .fas.fa-arrow-circle-left{
    font-size: 25px;
}

/*what is amv-----------------------------------------------*/
.what-amv{
    font-size: 90px;
    letter-spacing: 0.08rem;
    color: #000;
} 

.amv-what{
    font-size: 58px;
    letter-spacing: 0.08rem;
    font-weight: bold;
    color: #000;
}


.bg-what{
    background: url(/images/building1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 300px;
}

.bg-what h1{
    padding-top: 100px;
    letter-spacing: 0.3rem;
    color: #64ffa2;
}

#p-font-p{
    color: rgba(0, 0, 0, 0.898);
    text-align: center;
}

.what-is-amv{
    background: url(/images/Header.jpg);
    background-size: cover;
}

p.card-text.pb-4{
    font-size: 3vmin;
}

/*contact*/
.ml-3.text-dark.title-bold{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.08rem;
}

/*DOWNLOADS*/
.downloads{
    font-size: 11vmin;
    color: #fff;
}

.dl-img{
    color: rgba(255, 255, 255, 0.748);
    background-color: rgba(46, 46, 48, 0.248);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dl-img ul li{
    letter-spacing: 0.03rem;
}

.ig{
    color: crimson;
}

.ig:hover{
    color: rgb(255, 93, 125);
}

.dl-img.card-img-top{
    cursor: pointer;
}
.dl-img.card-img-top:hover img{
    transform: scale(1.2);
}

.download-img #dl-dl{
    overflow: hidden;
    cursor: pointer;
}

.download-img #dl-dl img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
    opacity: .8;
}

.download-img #dl-dl:hover img{
    transform: scale(1.03);
    opacity: 1;  
}

.pl-4.pt-1{
    font-size: 14px;
}

/*MARQUEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
._marquee{
    font-weight: bold;
    letter-spacing: 0.08rem;
    font-size: 40px;
    width: 90vw;
}

.marquee-content{
    list-style: none;
    display: flex;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling{
    0% { transform: translateX(0vw);}
    100% { transform: translateX(-180vw);}
}

.marquee-content li{
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    width: 112vw;
}

/*FOOTER*/

.social-medya{
    background: -webkit-linear-gradient(rgb(255, 210, 127), rgb(255, 218, 71));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    list-style: none;
}

.social-medya:hover{
    background: -webkit-linear-gradient(rgb(255, 236, 202), rgb(255, 244, 200));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    list-style: none;
}

.footah{
    background: #131313;
}

.email-h6{
    font-size: 17px;
    font-weight: 300;
    color: #d6d6d6;
}

.copy{
    color: #9F9F9F;
}

.listt{
    color: #fff;
}

.listt ul li a{
    list-style: none;
}

/*---------------------------------------------------------------*/
@media only screen and (max-width: 360px) {
    /*Header*/
    .navbar.navbar-expand-lg{
        padding-left: 30px;
        padding-right: 30px;
    }

    .slider-header{
        padding-top: 8.4px;
    }

    ol.carousel-indicators.c-i{
            display: flex;
            max-width: 80px;
            margin: 0 auto !important;
    }

    span.carousel-control-next-icon.header-slide {
        margin-top: 50px;
    }

    span.carousel-control-prev-icon.header-slide {
        margin-top: 50px;
    }

    .banner-text{
        display: none;
    }

    /*amv of the week*/
    .abawt{
        font-size: 11vmin;
    }

    h1.text-center.pt-4.abawt {
        font-size: 45px;
    }

    p.text-center.about-p {
        font-size: 13px;
    }

    hr.hr-about {
        margin-top: -7px;
    }

    .profayl-name {
        font-size: 20px;
        padding-top: 3%;
    }   

    img.profiles {
        max-width: 40px;
    }

    .amvweek-title {
        font-size: 25px;
        color: #000;
    }

    p.pr-3.text-light {
        font-size: 10px;
    }

    p.card-text {
        font-size: 10px;
    }

    button.btn.btn-sm {
        width: 47px;
        font-size: 5px;
    }

    .small, small {
        font-size: 88%;
        font-weight: 400;
    }
    
    .pt-3, .py-3 {
        padding-top: 2px!important;
    }

    hr {
    margin-top: 5px;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    }

    div#Profayls {
        padding-top: 0.5%;
    }

    small.smol {
        font-size: 9px;
    }

    /*WHAT IS AMV*/

    p.text-center.about-p {
    font-size: 16px;
}

    .amv-what {
        font-size: 50px;
        letter-spacing: 0.08rem;
        font-weight: bold;
        color: #000;
    }

    .bg-what h1 {
        padding-top: 75px;
        letter-spacing: 0.3rem;
        color: #64ffa2;
    }

    .btn.rounded-0 {
        border: 2px solid #000;
        font-weight: bold;
        padding: 1px 6px;
        font-size: 13px;
    }

    .bg-what{
        background: url(/images/building1.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }

    .what-amv {
        font-size: 32px;
        margin: 3px 0px;
        color: #fff;
    }

    .card-img-overlay.what-is-amv {
        padding: 50px 5px;
    }

    p#p-font-p {
        padding-top: 15px;
        text-align: justify;
        font-size: 15px;
        color: #000;
    }

    /*LEARN*/
    .learn-h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .vl {
        border-left: 6px solid #000;
        height: 100px;
        margin: -107px 0;
        padding-bottom: 156px;
        padding-left: 11px;
    }

    .embed-responsive.embed-responsive-16by9.youtube-img {
        margin-top: 50px;
        margin-bottom: 13px;
    }

   /*GROUPS*/
   section.grp-bg {
    padding-top: 50p;
    margin-top: 20px;
    }

    .font-gc h2 {
        font-size: 4vmin;
    }

    /*RECENT*/
    .recent-font {
        margin: 0;
    }

    p.card-text.recent-fontp {
        margin: 0;
    }

    button.btn.btn-sm {
        width: 62px;
        font-size: 7px;
    }

    .container.resent.pb-3.pt-4 {
        margin: -13px 0;
    }
   
    /*ABOUT ME*/
    .about-p{
        font-size: 12px;
    }

    h4.about-mee {
        font-size: 30px;
    }

    .p-about {
        font-size: 18px;
    }

    ul.p-about-p {
        font-size: 13px;
    }

    button.btn.btn-outline-warning.rounded-pill {
        padding: 0px 7px;
    }

    .row.pt-3.col-md-6.px-3.w-50.h-50.d-flex.align-items-center {
        margin: -24px -89px;
    }

    button.btn.btn-warning {
        margin-bottom: 27px;
    }

       /*FOOTER*/
}
    /*---------------------------------------------------------------*/

    @media only screen and (max-width: 411px) {

        ol.carousel-indicators.c-i{
            display: flex;
            max-width: 130px;
            margin: 0 auto !important;
    }

        .banner-text{
            display: none;
        }

        .slider-header{
            padding-top: 8.4px;
        }

        .navbar.navbar-expand-lg {
            background-color: #252525;
            padding-left: 25px;
            padding-right: 25px;
        }

        .about-p {
            font-size: 13px;
            color: #000;
            font-weight: 500;
        }

        .amvweek-title {
            font-size: 25px;
            color: #000;
        }

        h1.text-center.pt-4.abawt {
            font-size: 3.375rem;
        }

        /*LEARN*/
        .vl {
        border-left: 6px solid rgb(255, 195, 84);
        height: 100px;
        padding-bottom: 147px;
        padding-left: 12px;
        }

        .learn-h1 {
        font-size: 44px;
        font-weight: bold;
        }

        .embed-responsive.embed-responsive-16by9.youtube-img {
            margin-top: 50px;
            margin-bottom: 13px;
        }

         /*What is AMV*/
         p#p-font-p {
            font-size: 5vmin;
            color: #000;
            padding-top: 41px;
        }

        .bg-what h1 {
            padding-top: 122px;
            font-size: 44px;
            letter-spacing: 0.24rem;
            color: #64ffa2;
            padding-left: 6px;
        }
        
        /*Recent Work*/
        hr.hr-about {
            margin-top: -7px;
            margin-bottom: 11px;
        }

        .card-img-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 13px 13px;
        }

        /*RECENTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT*/
        ._marquee{
            display: none;
        }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

@media only screen and (max-width: 320px) {
    .amvweek-title {
        font-size: 23px;
        color: #000;
    }

    .bg-what h1 {
        padding-top: 122px;
        font-size: 35px;
        letter-spacing: 0.24rem;
        color: #64ffa2;
        padding-left: 6px;
    }

    h1.text-center.pt-4.abawt {
        font-size: 3.2rem;
    }
    
    .amv-what {
    font-size: 42px;
    }

    /*Learn*/

    .learn-h1 {
        font-size: 38px;
        font-weight: bold;
    }
    
}

/*---------------------------------------------------------------*/

@media only screen and (max-width: 414px) {

    span.carousel-control-next-icon.header-slide {
        margin-top: 50px;
    }

    span.carousel-control-prev-icon.header-slide {
        margin-top: 50px;
    }

    ol.carousel-indicators.c-i{
        display: flex;
        max-width: 130px;
        margin: 0 auto !important;
    }

    .banner-text{
        display: none;
    }

    .slider-header{
        padding-top: 8.4px;
    }
    .navbar.navbar-expand-lg {
        background-color: #252525;
        padding-left: 25px;
        padding-right: 25px;
    }

    h1.text-center.pt-4.abawt {
        font-size: 3.7rem;
    }

    .about-p {
        font-size: 17px;
        color: #000;
        font-weight: 500;
    }

    /*LEARN*/
    
    .vl {
        border-left: 6px solid #000;
        height: 100px;
        margin: -113px 0;
        padding-bottom: 147px;
        padding-left: 12px;
    }

    .learn-h1 {
        font-size: 43px;
        font-weight: bold;
    }

    /*WHAT IS AMV*/
    .what-amv {
        font-size: 40px;
        color: #fff;
        margin: 0 0;
    }

    #p-font-p {
        color: rgba(255, 255, 255, 0.898);
        text-align: justify;
        font-size: 15px;
    }

    .bg-what h1 {
        padding-top: 127px;
        color: #64ffa2;
    }

    /*RECENT WORK*/
    .card-text.recent-fontp {
        font-size: 18px;
        margin-bottom: 3px;
        margin-top: -11px;
    }

    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 7px 13px;
    }

    /*Contact*/
    section#Contact {
        margin-top: -28px;
    }
}

/*---------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
    span.carousel-control-next-icon.header-slide {
        margin-top: 50px;
    }

    span.carousel-control-prev-icon.header-slide {
        margin-top: 50px;
    }

    ol.carousel-indicators.c-i{
        display: flex;
        max-width: 130px;
        margin: 0 auto !important;
    }

    .banner-text{
        display: none;
    }

    .slider-header{
        padding-top: 8.4px;
    }

   .navbar.navbar-expand-lg {
    background-color: #252525;
    padding-left: 40px;
    padding-right: 40px;
    }

    /*LEARN*/
    .learn-h1 {
        font-size: 36px;
        font-weight: bold;
    }

    /*What is AMV*/
    #p-font-p {
        color: #000;
        text-align: justify;
        font-size: 17px;
    }

    .row.text-light.pt-2 {
        display: flex;
        flex-wrap: nowrap;
    }

    .row.text-light.pt-2 {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
    }

    /*MARQUEE*/

    ._marquee{
        display: none;
    }
}
    /*---------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    span.carousel-control-next-icon.header-slide {
        margin-top: 50px;
    }

    span.carousel-control-prev-icon.header-slide {
        margin-top: 50px;
    }

    ol.carousel-indicators.c-i{
        display: flex;
        max-width: 130px;
        margin: 0 auto !important;
    }

    .banner-text{
        display: none;
    }

    .slider-header{
        padding-top: 8.4px;
    }
    .navbar.navbar-expand-lg {
        background-color: #252525;
        padding-left: 25px;
        padding-right: 25px;
    }



    /*LEARN*/
    .learn-h1 {
        font-size: 44px;
        color: #000;
        font-weight: bold;
    }

    .vl {
        border-left: 6px solid #000;
        height: 100px;
        margin: -15px 0;
        padding-bottom: 157px;
        padding-left: 12px;
    }

    .embed-responsive.embed-responsive-16by9.youtube-img {
        margin-top: 50px;
        margin-bottom: 13px;
    }
    
    /*MARQUEE*/

    ._marquee{
        display: none;
    }
    
}